[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	up = "!git remote update -p; git merge --ff-only @{u}"
	prune = fetch --prune
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
[push]
	default = simple
[commit]
    gpgSign = true
[status]
    showUntrackedFiles = all
[user]
	name = Nick Jones
	email = nick@dischord.org
	signingKey = 309D20E4
